/* HTML Element Styles =================================================================================== */

/* color, text, and font consistency */
body {
	background-color: black;
	color: lime;
	font-family: "Lucida Console", Monaco, Monospace;
}


/* Class Styles ========================================================================================= */

/* override bootstrap css */
.btn-outline-success {
	display: block;
	border-color: lime;
	color: lime;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

/* position title top center */
.container h1 {
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

/*Visual field for user input*/
.currentTab {
	background: white;
	padding: 10px;
}

/* override bootstrap css */
.form-control, .form-control:focus {
	background-color: black;
	color: lime;
	font-family: "Lucida Console", Monaco, Monospace;
	border-color: lime;
	border-style: solid;
	margin: 15px auto;
	max-width: 450px;
}

/*Add scroll box for pack selection*/
.packOptions {
	border: 2px solid grey;
	margin-bottom: 10px;
	padding: 2px;
	height: 100px;
	overflow-y: scroll;
}

/*Color and padding for visual appeal*/
.tabBorder {
	padding: 30px;
	background-color: grey;
	color: black;
}

/* ID Styles ================================================================================================= */

#submitMenu {
	visibility: hidden;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}

/*Container for the entire page*/
#page {
	max-width: none;
}

/*Holds content and commandLine*/
#game {
	display: block;
	position: relative;
	height: 100vh;
}

/*Display text for StudentMenu*/
#contentLine {
	position: relative;
	overflow: auto;
	height: calc(100% - 29px);
}

/* command line input field */
#commandLine {
	background-color: black;
	color: lime;
	width: 100%;
	border-style: none;
	box-shadow: none;
}

/* command line input field */
#inputLine {
	position: relative;
	display: table;
	border-top-style: solid;
	width: 100%;
}

/* set > size to text-size */
#inputLine span {
	background-color: black;
	width: 14px;
}

/* make > and Text input inline */
#inputLine span, #commandLine {
	display:table-cell;
	margin: 0px;
}

#submit {
	width: 175px;
}

/* align registration link to center */
#toRegister {
	text-align: center;
}