{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>The Game!</title>
	<link rel="shortcut icon" href="{% static 'game/images/codingBot.png' %}">
	<meta charset="utf-8">
	<meta name="viewport" content"width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'game/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{% static 'game/controlOperations.js' %}"></script>
</head>
<body>
<!--Container for bootstrap organization-->
<div id="page" class="container">
	<div id="game" class="row">
		<div id="contentLine">
			<p>Welcome to Coding Bot!
			Database access and proper Javascript is required to add more to this page.
			Bootstrap design and scalability has been completed.</p>
		</div>
	<!--These lines create the illusion of a command line input field-->
		<div id="inputLine">
			<span>></span>
			<form action="" method="get">
			{{ form.input }}
			<button type="submit" value="submit" id="submitMenu">Submit</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>