{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Math Functions</title>
	<link rel="shortcut icon" href="{% static 'accounts/images/codingBot.png' %}">
	<meta charset="utf-8">
	<meta name="viewport" content"width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!--<script src="{% static 'accounts/controlOperations.js' %}"></script>-->
</head>
<body>
<!--Container for bootstrap organization-->
<div id="page" class="container">
	<div id="game" class="row">
		<div id="contentLine">
			<h2>Coding Bot: Math Functions</h2>
            'Main Menu' - Return to the main menu.<br/>
			'Log Out' - Quit playing with this account.</p>


            <h4>Story: </h4> <p>{{ story }}</p>
            <h4>Problem: </h4> <p> {{ problem_question }}</p>


		</div>


		<!--These lines create the illusion of a command line input field-->
		<div id="inputLine">
			<span>></span>
			<form id="menuAction" action="" method="POST">
				{% csrf_token %}
				{{ form.input }}
				<button type="submit" value="submit" id="submitMenu">Submit</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>