{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<link rel="shortcut icon" href="{% static 'accounts/images/codingBot.png' %}">
	<meta charset="utf-8">
	<meta name="viewport" content"width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{% static 'accounts/controlOperations.js' %}"></script>
</head>
<body>
{% if messages %}
<div class="messages" style="text-align: center">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<!--Container for bootstrap organization-->
<div class="container">
	<h1>Coding Bot: Basics of Java</h1>
	<!--Currently just goes to the student game page-->
	<form action="" method="post">
		{% csrf_token %}
		<!--Form group organize the fields into a bootstrap table-->
		<div class="form-group">
			{{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
			{{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}
		</div>
		<button type="submit" class="btn btn-outline-success">Submit</button>
	</form>
	<!--Links back to the registration page-->
	<p id="toRegister">Are you a student and don't have an account? <a href="{% url 'register' %}">Register here!</a></p>
</div>
</body>
</html>