{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registration</title>
	<link rel="shortcut icon" href="{% static 'accounts/images/codingBot.png' %}">
	<meta charset="utf-8">
	<meta name="viewport" content"width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{% static 'accounts/controlOperations.js' %}"></script>
</head>
<body>

<!--Container for bootstrap organization-->
<div class="container">
	<h1>Coding Bot: Basics of Java</h1>
	<form action="" method="POST" >
		{% csrf_token %}
		<div class="form-group row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				{{ form.username|add_class:"form-control"|attr:"placeholder:Username" }}
				{{ form.email|add_class:"form-control"|attr:"placeholder:Email" }}
				{{ form.password|add_class:"form-control"|attr:"placeholder:Password" }}
			</div>
			<div class="col-sm-5">
				{{ form.first_name|add_class:"form-control"|attr:"placeholder:First Name" }}
				{{ form.last_name|add_class:"form-control"|attr:"placeholder:Last Name" }}	
			</div>
			<div class="col-sm-1"></div>
		</div>
		<!-- Submit Button -->
		<button id="submit" type="submit" value="Register" class="btn btn-outline-success">Submit</button>
	</form>
</div>
</body>
</html>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

<!-- <script>
	$("#id_form_classCode").focusout(function()
	{
		console.log($(this).val());
	});
</script> -->





















<!-- <script>
			$("#form_register").submit(
	
				   function()
				   {
					// var formData = new FormData($(this)[0]);

					   $.ajax(
					   {
						url: $(this).attr('action'),
						type: 'POST',
						data: formData,
						async: true,
						success: function (data) 
						{
							// if Json returns the error-classCode (class code doesn't exist)
							if(data.error==="error-classCode")
							{
								alert("That class code does not exist.");
							}
							// Generic failure
							else if(data.error==="error-generic")
							{	
								alert("Sorry, something went wrong.");
							}

							
						},
	
						cache: false,
						contentType: false,
						processData: false
				   
					});
				   
					   return false; // return false to prevent page reload
				}
			);
		</script> -->
	
