{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registration</title>
	<link rel="shortcut icon" href="%{ static 'accounts/images/codingBot.png' %}">
	<meta charset="utf-8">
	<meta name="viewport" content"width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{% static 'accounts/controlOperations.js' %}"></script>
</head>
<body>
<!--Container for bootstrap organization-->
<div class="container">
	<h1>Coding Bot: Basics of Java</h1>
	<!--Form meant to store new account in database-->
	<!--Currently changes current url to the login page-->
	<form action="login.html" target="_self">
		<div class="form-group row">
			<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<input class="form-control" type="email" name="email" placeholder=".edu email">
				<input class="form-control" type="text" name="firstname" placeholder="First Name">
				<input class="form-control" type="password" name="reenter" placeholder="Re-enter Password">	
			</div>
			<div class="col-sm-5">
				<input class="form-control" type="text" name="classcode" placeholder="Class Code">
				<input class="form-control" type="text" name="lastname" placeholder="Last Name">
				<input class="form-control" type="password" name="password" placeholder="Password">
			</div>
			<div class="col-sm-1"></div>
		</div>
		<button id="submit" type="submit" class="btn btn-outline-success">> Submit <</button>
	</form>
</div>
</body>
</html>