{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>School Admin</title>
	<link rel="shortcut icon" href="%{ static 'accounts/images/codingBot.png' %}">
	<meta charset="utf-8">
	<meta name="viewport" content"width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{% static 'accounts/controlOperations.js' %}"></script>
</head>
<body>
	<div class="container">
		<!--All the navigation options are under this ul-->
		<ul class="nav nav-tabs nav-justified">
			<!--Pulls the professor creation code from the Javascript Function-->
			<li class="nav-item">
				<a class="nav-link" href="schoolCreate">Create Professor Account</a>
			</li>
			<!--Pulls the view acocunt code from the Javascript Function-->
			<li class="nav-item">
				<a class="nav-link" href="schoolView"">View Accounts</a>
			<!--Log Out button to return to the login page-->
			</li>
			<li class="nav-item">
				<a class="nav-link" href="./">Log Out</a>
			</li>
		</ul>
		<!--Container field for all the content below the navigation bar-->
		<!--tabBorder is the grey border, currentTab is the white interior-->
		<div class="tabBorder">
			<div class="currentTab" id="schoolView">
			<!--Welcome message that will be removed when an option is selected-->
				<h1>Account List</h1>
				<button class="btn" type="button" data-toggle="collapse" data-target=".students" aria-expanded="false" aria-controls="students">Show/Hide Students</button>
				<button class="btn" type="button" data-toggle="collapse" data-target=".professors" aria-expanded="false" aria-controls="professors">Show/Hide Professors</button>
				<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Type</th>
							<th>Username</th>
							<th>Name</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
					{% for professor in professorData %}
						<tr class="professors collapse show">
							<td>Professor</td>
							<td>{{ professor.username }}</td>
							<td>{{ professor.first_name }} {{ professor.last_name }}</td>
							<td>{{ professor.email }}</td>
						</tr>
					{% endfor %}
					{% for student in studentData %}
						<tr class="students collapse show">
							<td>Student</td>
							<td>{{ student.username }}</td>
							<td>{{ student.first_name }} {{ student.last_name }}</td>
							<td>{{ student.email }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				</div>	
			</div>
		</div>
	</div>
</body>
</html>