{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Student Menu</title>
	<link rel="shortcut icon" href="{% static 'accounts/images/codingBot.png">
	<meta charset="utf-8">
	<meta name="viewport" content"width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{% static 'accounts/controlOperations.js' %}"></script>
</head>
<body>
<!--Container for bootstrap organization-->
<div id="page" class="container">
	<div id="game" class="row">
		<div id="contentLine">
			<p>Welcome back to Coding Bot: Basics of Java!</p>
			<p>You are currently within the source code of Coding Bot. He is my latest invention in humanoid robotics. 
			I've sent him out into the world to run some tests on how well he can blend into society, but his current software is unstable. 
			I need you to monitor his adventures and fill in places in his code when he starts to act suspiciously. 
			If you can do this well, I'll inform your professor of your abilities and ensure your class grade is remarkably high. 
			Good luck! -Dr. Javachip</p>
			<p>Type out one of the following commands to begin playing:</p>
			<p>'Start Game' - Start the level pack from the beginning<br/>
			'Continue' - Start the level pack from where you left off<br/>
			'Class Select' - Choose the class you want to progress in<br/>
			'Progress Report' - View a report of how you're doing<br/>
			'Help' - Display all the available commands<br/>
			'Log Out' - Quit playing with this account</p>
		</div>
		<!--These lines create the illusion of a command line input field-->
		<div id="inputLine">
			<span>></span>
			<input type="text" id="commandLine" name="command" autofocus></input>
		</div>
	</div>
</div>
</body>
</html>